img {
  width: 100%;
  height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #087cce;
  text-decoration: none;
}

.pageWrap {
  width: 100%;
  height: 100%;
  padding: 30px;
}

.pageWrap .page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.pageWrap .page .column {
  width: 30%;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.pageWrap .page .column .img {
  width: 100%;
  height: 100%;
}

.pageWrap .page .column span {
  margin-top: 10px;
  display: block;
}

.clickToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #087cce;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  outline: none;
  border: none;
}
